'scopeName': 'source.gn'
'name': 'gn'
'fileTypes': [
  'gn',
  'gni'
]
'patterns': [
  {
    'include': '#main'
  }
]
'repository':
  'main':
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#string'
      }
      {
        'include': '#variable'
      }
      {
        'include': '#operators'
      }
      {
        'include': '#function'
      }
    ]
  'comment':
    'name': 'comment.line.number-sign.gn'
    'begin': '#'
    'end': '$'
    'beginCaptures':
      '0': 'name': 'punctuation.definition.comment.gn'
  'string':
    'name': 'string.quoted.double.gn'
    'begin': '"'
    'end': '"'
    'beginCaptures':
      '0': 'name': 'punctuation.definition.string.begin.gn'
    'endCaptures':
      '0': 'name': 'punctuation.definition.string.end.gn'
    'patterns': [
      {
        'name': 'constant.character.escape.gn'
        'match': '\\\\["$\\\\]'
      }
      {
        'name': 'source.gn.embedded'
        'begin': '\\${'
        'end': '}'
        'contentName': 'variable.interpolated.embedded.gn'
        'beginCaptures':
          '0': 'name': 'punctuation.section.embedded.begin.gn'
        'endCaptures':
          '0': 'name': 'punctuation.section.embedded.end.gn'
      }
      {
        'name': 'variable.interpolated.embedded.gn'
        'match': '(\\$)\\w+'
        'captures':
          '1': 'name': 'punctuation.definition.variable.embedded.gn'
      }
    ]
  'number':
    'name': 'constant.numeric.gn'
    'match': '\\d+'
  'variable':
    'name': 'variable.assignment.gn'
    'match': '\\w+(?=\\s*[-+]?=)'
  'function':
    'name': 'meta.function.gn'
    'begin': '(\\w+)\\s*(\\()'
    'beginCaptures':
      '1': 'name': 'storage.type.function.gn'
      '2': 'name': 'punctuation.function.parameters.begin.gn'
    'end': '\\)'
    'endCaptures':
      '0': 'name': 'punctuation.function.parameters.end.gn'
    'patterns': [
      {
        'include': '#argument'
      }
    ]
  'argument':
    'patterns': [
      {
        'name': 'mata.argument.gn'
        'begin': '(\\w+)\\s*(=)\\s*'
        'beginCaptures':
          '1': 'name': 'variable.parameter.gn'
          '2': 'name': 'keyword.operator.assignment.gn'
        'end': ',|\\n'
        'endCaptures':
          '0': 'name': 'punctuation.separator.gn'
        'patterns': [
          {
            'include': '#expression'
          }
        ]
      }
      {
        'include': '#expression'
      }
    ]
  'operators':
    'patterns': [
      {
        'name': 'keyword.operator.assignment.gn'
        'match': '[-+]?='
      }
    ]
  'array':
    'name': 'meta.array.gn'
    'begin': '\\['
    'beginCaptures':
      '0': 'name': 'punctuation.array.begin.gn'
    'end': '\\]'
    'endCaptures':
      '0': 'name': 'punctuation.array.end.gn'
    'patterns': [
      {
        'include': '#expression'
      }
      {
        'match': '\\s*([,])\\s*'
        'captures':
          '1': 'name': 'punctuation.separator.gn'
      }
    ]
